{% extends "App1/padre2.html" %}

{% load static %}

{% block titulo %}
Personajes
{% endblock %}

{% block description %}
{% for personaje in object_list %}

    <p>Nombre: {{personaje.nombre}}</p>

    <a href="{% url 'PersonajeDetalle' personaje.id %}"> Ver Personaje </a>
    <a href="{% url 'PersonajeEditar' personaje.id %}"> Editar </a>
    <a href="{% url 'PersonajeEliminar' personaje.id %}"> Eliminar Personaje </a>
    


    <br>_______________________________________
    
    {% endfor %}
    
    <br>
    <a href="{% url 'PersonajeCrear'  %}"> Crear Personaje </a>
{% endblock %}