<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Nombre:{{usuario.nombre}}</p>
    <p>Apellido:{{usuario.apellido}}</p>
    <p>Liga:{{usuario.liga}}</p>
    <p>Fecha:{{usuario.fecha}}</p>
    <p>Email:{{usuario.email}}</p>
    <p>Nivel:{{usuario.nivel}}</p>
    {% if usuario.imagen %}
    <p><img src="{{usuario.imagen.url}}" alt=""></p>
{% endif %}

    <a href="{% url 'UsuarioLista' %}">Regresar</a>
</body>
</html>